<div>
    <h1>Productos agregados hasta ahora</h1>
    {{#each products}}
    <div>
        <p>nombre: {{this.title}}</p>
        <p>descripcion: {{this.description}}</p>
        <p>code: {{this.code}}</p>
        <p>price: {{this.price}}</p>
        <p>status: {{this.status}}</p>
        <p>stock: {{this.stock}}</p>
        <p>category: {{this.category}}</p>
        <p>id: {{this.id}}</p>
    </div>
    {{/each}}
</div>